.glass{
	@apply bg-slate-50;
	border-radius:0px;
	box-shadow:2px 6px 4px white;
	backdrop-filter: blur(5.1px);
	@apply border-4 border-gray-100 shrink-0 h-[70%] w-2/3 rounded-3xl py-8 px-8 min-w-max;
}

.profile_image{
	@apply border-4 border-gray-50 w-[100px] rounded-full shadow-sm cursor-pointer mr-0;
	@apply hover:border-gray-100;
}

.text_box{
	@apply bg-slate-50;
	@apply border-0 py-4 rounded-xl w-2/3 shadow-sm text-base mb-2 ;
	text-align: justify-all;
	@apply focus:outline-none drop-shadow-sm;
}

.btn{
	@apply border bg-teal-700 w-2/3 py-2 rounded-full text-gray-50 text-xl shadow-sm text-center ml-6 drop-shadow-sm;
}

.btn:hover{
	@apply bg-cyan-700 drop-shadow-sm;
}

input[type='file']{ /*this makes choose file icon disappear*/
	display:none;
}

.register{
	@apply ml-14 block mt-4  mb-2 py-2 text-justify focus:outline-none;
}
input[type="date"] {
  @apply text-emerald-600 shadow-sm;
  padding: 10px;
  outline: none;
  transition: all 0.1s ease-in-out;
}

input[type="date"]:focus {
  border-color: #0077cc;
  box-shadow: 0 0 5px #0077cc;
}
