<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>
</head>
<body>
<!-- navigation bar here leaving this as of now , have to do more shitty things than this so will add this later on -->

<!-- displaying some of the articles on the homepage as designed recently by me :) -->
<section class="articles">
  <div class="container">
    
  </div>
</section>

<!-- adding the problems, topics and resources slide with the description and links to the respective pages  -->

<!-- adding the sign in/up , contributors , also asking for solutions from the contributors pages as we have to increase the page size also -->

<!-- last one is the about us/me and contact us/me also for newsletter which I will add later for the job opportunities -->
</body>
</html>